.prodcts-banner {
    width: 88%;
    height: 260px;
    margin: 0 auto;
    display: flex;
    gap: 10px;

    .products-banner-item {
        width: 25%;
        height: 250px ;
        border-radius: 20px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}
